.listLollies {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

.button {
    background-color: palevioletred;
    color: white;
    justify-content: center;
    border-radius: 50%;
    margin-top: 30px;
    

}