.listLollies {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

.button {
    background-color: palevioletred;
    color: white;
    justify-content: center;
    border-radius: 125%;
    margin-top: 100px;
    height: 64px;
width: 144px;
    text-align: center;
    transform: translate(460px,-17px);
    justify-items: center;
    margin: auto;
    position: absolute;
    margin-top: 66px;

}




.container {
    /* justify-content: center;
    text-align: center; */
    /* transform: translate(-50%, -50%); */
    /* justify-items: center;
    margin: auto;
    position: absolute; */

}